* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
body {
    background: red;
    color: black;
}
.container {
    width: 100%;
    margin: auto;
}
/* top bar */
#site-header {
    width: 100%;
    border-bottom: 1px solid white;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 10px;
    font-size: 14px;
    color: black;
}

.contact span{
    margin-right: 15px;
}
.social-icons img{
    width: 20px;
    margin-left: 10px;
}
/*nav bar */
.nav-bar h1 {
    color: white;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: black;
}

.nav-links a {
    font-weight: bold;
    margin: 10px;
    color: white;
}
.nav-links a.active {
    color: red
}
.order-btn button{
    background-color: white;
    color: red;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 10px;
}
/*about section with explore box and about image*/
.About {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: black;
}
.About img {
    width: 350px;
    border-radius: 10px;
    margin-right: 20px;
    border: 2px solid red;
}
.About-text {
    margin: 10px;
    text-align: center;
    color: white;
}
.About-explore {
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    margin: 20px auto;
    text-align: center;
    border: 1px solid black;
}
/* features section */
.features{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: red;
    text-align: center;
}
.feature-item p{
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
}
.feature-item img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid black;
}
/* info section to style the boxes and image */
.info {
    background-color: black;
    padding: 20px;
    color: white;
}
.info-flex {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    flex-direction: row-reverse;
}
.info img {
    width: 350px;
    border-radius: 10px;
    border: 2px solid red;
}
.info-content {
    flex: 1;
    text-align: center;
}
.info-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  
}
.info-box {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 15px;
    flex: 1;
    min-width: 150px;
    border: 1px solid red;
} 
.info-link {
    display: block;
    color:black;
}
/* feedback to style the customers respone in the box and more button*/
.feedback {
    text-align: center;
    background-color: red;
    padding: 20px;
    border: 1px solid rgb(63, 45, 45);
}
.more-btn {
    font-size: 14px;
    margin-left: 50px;
    font-weight: bold;
}
.more-btn button {
    border-radius: 5px;
    background-color: black;
    color: red;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.feedback-boxes {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    gap: 20px;
    border-radius: 10px;
    margin-top: 30px;
}
.feedback-box {
    padding: 20px;
}
/* footer section */
.footer {
    background-color: black;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.footer-images {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}
.footer img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid black;
}