* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
body {
    background: red;
    color: black;
}
.container {
    width: 100%;
    margin: auto;
    padding: 20px;
}
#site-header {
    width: 100%;
    border-bottom: 1px solid white;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 10px;
    font-size: 14px;
}

.contact a {
    margin-right: 15px;
}
.social-icons img{
    width: 20px;
    margin-left: 10px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}

.nav-links a {
    font-weight: bold;
    margin: 10px;
    color: black;
}
.nav-links a.active {
    color: red
}
.order-btn button{
    background-color: black;
    color: red;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 10px;
}
.About {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: whitesmoke;
}
.About img {
    width: 350px;
    border-radius: 10px;
    margin-right: 50px;
}
.About-text {
    text-align: center;
}
.About-explore {
    background-color: red;
    border-radius: 10px;
    padding: 10px;
}
.features{
    display: flex;
    justify-content: space-around;
    padding: 25px;
    background-color: red;
    text-align: center;
}
.feature-item {
    font-weight: bold;
}
.info {
    background-color: whitesmoke;
    padding: 20px;
    
}
.info-flex {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-direction: row-reverse;
}
.info img {
    width: 350px;
    border-radius: 10px
}
.info-content {
    flex: 1;
    text-align: center;
}
.info-grid {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
  
}
.info-box {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    flex: 1;
    min-width: 150px;
} 
.info-link {
    display: block;
    color:black;
}
.feedback {
    text-align: center;
    background-color: red;
    padding: 20px;
}
.more-btn {
    font-size: 14px;
    margin-left: 50px;
    font-weight: bold;
}
.more-btn button {
    border-radius: 5px;
    background-color: black;
    color: red;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.feedback-boxes {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    gap: 20px;
    border-radius: 10px;
    margin-top: 30px;
}
.feedback-box {
    padding: 20px;
}
.footer {
    background-color: whitesmoke;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.footer-images {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}
.footer img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}