.payment-form {
    background-color: red;
    padding: 12px;
    border-radius: 12px;
    margin-top: 25px;
}
.payment-form input {
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid rgb(173, 163, 163);
}
.payment-form input[placeholder = "MM/YY"], .payment-form input [placeholder="123"] {
    width: 100px;
}
.payment-form .payment-btn {
    background-color: black ;
    color: white;
    border-radius: 8px;
    width: 90px;
    padding: 3px;
    margin-left: 15px;
}
#site-header {
    width: 100%;
    border-bottom: 1px solid white;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 10px;
    font-size: 14px;
}

.contact span {
    margin-right: 15px;
}
.social-icons img{
    width: 20px;
    margin-left: 10px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: black;
    color: white;
}

.nav-links a {
    font-weight: bold;
    margin: 10px;
    color: white;
}
.order-btn button{
    background-color: red;
    color: black;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 10px;
    font-weight: bold;
}
.back-btn {
    background-color: red;
    color: black;
    font-weight: bold;
    border-radius: 6px;
    padding: 7px 10px;
    margin: 15px;
}
.checkout h2 {
    color: red;
    margin-left: 15px;
    font-size: 40px;
    margin-top: 5px;
}
.checkout p{
    color: black;
    background-color: red;
    margin: 0;
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;

}
.footer {
    background-color: red;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.footer-images {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}
.footer img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid black;
}
