#root .row {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 10px 0;
}

#root .row:last-child {
    border-bottom: none;
}
#root .row h3 {
    margin: 0;
}

h2{
    text-align: center;
}

.btn{
    background-color: white;
    padding-right: 50px;
    padding-top: 60px;
}

.history-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  background: white;
  border: 1px solid;
  border-color: #2a2a2a;
  border-radius: 14px;
  border-color: #3a3a3a;
  box-shadow: 0 12px 30px rgba(0,0,0,0.45);
  padding-left: 30px;
}