.order-later {
    max-width: 520px;
    margin: auto;
    padding: 20px;

}
#ol{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.ol-row {
    display: flex;
    align-items: flex-start;
}

.ol-field {
    flex: 1;
}
#pickupTime {
    max-width: 400px;
}
.scheduleBtn {
    background-color: red;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    max-width: 150px;
}
#site-header {
    width: 100%;
    border-bottom: 1px solid white;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 10px;
    font-size: 14px;
}

.contact span {
    margin-right: 15px;
}
.social-icons img{
    width: 20px;
    margin-left: 10px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: black;
    color: white;
}

.nav-links a {
    font-weight: bold;
    margin: 10px;
    color: white;
}
.order-btn button{
    background-color: red;
    color: black;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 10px;
}
.footer {
    background-color: red;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.footer-images {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}
.footer img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid black;
}