* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}
body {
    background: red;
    color: black;
}
.container {
    width: 100%;
    margin: auto;
    padding: 20px;
}
#site-header {
    width: 100%;
    border-bottom: 1px solid white;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 10px;
    font-size: 14px;
}

.contact a {
    margin-right: 15px;
}
.social-icons img{
    width: 20px;
    margin-left: 10px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: black;
    color: white;
}

.nav-links a {
    font-weight: bold;
    margin: 10px;
    color: white;
}
.order-btn button{
    background-color: red;
    color: black;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    border-radius: 10px;
}
.Check-promo {
    display: flex;
    padding: 10px;
    justify-content: center;
    line-height: 60px;
    border-bottom: shadow lightgrey;
    border-bottom: 2px solid rgb(50, 45, 45);
}
.Check-promo span {
    background-color: black;
    color: white;
    border-radius: 8px;
    text-decoration: 1px underline;
}
.Order {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}
.Order-img {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
.Order-img img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    border:2px solid red;
}
.Image-text{
    position: absolute;
    color: red;
    font-size: 24px;
    line-height: 1.6;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}
.Order-options {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 25px;
    flex-direction: column;
}
.Order-options button {
    background-color: red;
    font-weight: bold;
    padding: 50px;
    font-size: 30px;
    width: 600px;
    text-shadow: 2px 2px 5px gray;
    border-radius: 15px;
}
.footer {
    background-color: red;
    color: black;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.footer-images {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}
.footer img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid black;
}